html, body {
  height: 100%;
}
.app{
  margin-bottom: 5rem;
  background-color: #141414;
}

.container,
header {
    color: white;
}

.nabar{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.link{
  color: #838383;
  text-decoration: none;
  padding-bottom: 0.5em;
  padding-right: 1em;
}
.kids{
  text-decoration: none;
  color: #f5f5f1;
  padding-bottom: 0.5em;
  padding-right: 1em;
}
.emoji i{
  color: #f5f5f1;
}
#genres{
  background-color: transparent;
  border: 1px solid #fff;
}
.grid{
  color: #f5f5f1;
  margin-left: auto;
  margin-right: 22px;
}
.movieCard{
  transition: transform 0.2s linear;
}
.movieCard{
  transform: scale(1.2);
    z-index: 4;
}
.cardImg{
  cursor: pointer;
  height: 300px;
}
.bi-play-circle-fill{
  color: rgb(23, 148, 23);
  cursor: pointer;
}

footer .bi {
  color: gray;
  margin-right: 1rem;
  font-size: 1.5rem;
}

footer a,
footer {
  color: gray;
}

footer p:last-child {
  font-size: 0.9rem;
}




/* IMPORTED CSS */

.bi {
  color: white;
  font-size: 1.2rem;
}

.bi-pencil-fill {
  bottom: 10px;
  left: 10px;
  background-color: black;
  border: 1px solid white;
  padding: 0.1rem 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (min-width:768px) {


  .footerContainer {
      width: 50%;
  }
}

/* CUSTOM CSS */
.navbar {
  z-index: 5;
}

.footerContainer {
  z-index: 1;
}

.movieCard {
  transition: transform 0.2s linear;
}

.movieCard:hover {
  transform: scale(1.2);
  z-index: 4;
}

.cardImg {
  cursor: pointer;
  height: 300px;
}

.bi-play-circle-fill {
  color: rgb(23, 148, 23);
  cursor: pointer;
}

